
<h3>User Profile</h3>
<div class="fields-container">

    <mat-form-field>
      <mat-label>Name</mat-label>
      <input type="text" matInput  [(ngModel)]="model.name" placeholder="Enter name"/><br>
    </mat-form-field>
    <mat-form-field>
    <mat-label>Address1</mat-label>
    <input type="text" matInput  [(ngModel)]="model.address1" placeholder="Enter address1"/><br>
  </mat-form-field>
  <mat-form-field>
  <mat-label>Address2</mat-label>
  <input type="text" matInput [(ngModel)]="model.address2" placeholder="Enter address2"/><br>
  </mat-form-field>
  <mat-form-field>
    <mat-label>City</mat-label>
    <input type="text" matInput  [(ngModel)]="model.city" placeholder="Enter city"/><br>
    </mat-form-field>
    
  </div>
  <button (click)="editUser(model)">Edit User</button>
  