<!--<div class="customers view indent">
  <div class="container">
      <header>
          <h3>
              <span class="glyphicon glyphicon-user"></span>
              {{ title }}
          </h3>
      </header>
      <br />
      <div class="row">
          <div class="col-md-10">
              <div class="navbar">
                  <ul class="nav navbar-nav">
                      <li class="toolbar-item">
                          <a (click)="changeDisplayMode(displayModeEnum.Card)" [class.active]="displayMode === displayModeEnum.Card">
                              <span class="glyphicon glyphicon-th-large"></span> Card View
                          </a>
                      </li>
                      <li class="toolbar-item">
                          <a (click)="changeDisplayMode(displayModeEnum.Grid)" [class.active]="displayMode === displayModeEnum.Grid">
                              <span class="glyphicon glyphicon-align-justify"></span> List View
                          </a>
                      </li>
                      <li class="toolbar-item">
                          <a (click)="changeDisplayMode(displayModeEnum.Map)" [class.active]="displayMode === displayModeEnum.Map">
                              <span class="glyphicon glyphicon-map-marker"></span> Map View
                          </a>
                      </li>
                      <li class="toolbar-item">
                          <a routerLink="/customers/0/edit">
                              <span class="glyphicon glyphicon-plus"></span> New Customer
                          </a>
                      </li>
                  </ul>
                 </div>
          </div>
      </div>
      
      <app-customers-card 
        [customers]="customers" 
        [hidden]="displayMode !== displayModeEnum.Card"></app-customers-card>
          
  </div>
</div>-->
<div class="header">
    <mat-toolbar color="primary">
            
      
      <mat-toolbar-row>
              <!--  <span>HOME</span> -->
               
              <span class="spacer"></span>
              <span><h2> Customer Management</h2></span>
               <span class="spacer"></span>
                <a mat-button routerLink="/customers/edit">Add Customer </a>
              
              
              </mat-toolbar-row>
          </mat-toolbar>
          <!-- <app-customers-card          [customers]="customers"  ></app-customers-card>        -->
          <app-customers-grid          [customers]="customers"  ></app-customers-grid>      
     
          </div>