.card-container {
    width:85%;
}

.card {
    
    border: 1px solid #d4d4d4;
    height:280px;
    margin-bottom: 20px;
    position: relative;
    width:280px;
}

.card-header {
    background-color:#027FF4;
    font-size:14pt;
    color:black;
    padding:5px;
    width:100%;
}

.card-close {
   
    font-weight:bold;
    margin-right:5px;
}

.card-body {
    padding-left: 5px;
}

.card-body-left {
    margin-top: -5px;
}

.card-body-right {
    margin-left: 20px;
    margin-top: 2px;
}

.card-body-content {
    width: 350px;
    font-size:14pt;
}

.card-image {
    height:180px;width:180px;margin-top:10px;
}



