<div class="container">
    <div class="row card-container">
        <div class="col-sm-6 col-md-4 col-lg-3" *ngFor="let customer of customers;">
            <div class="card">
                <div class="card-header">
                    <a [routerLink]="['/customers',customer.customerId,'details']" class="white">
                        {{customer.firstName  }} {{ customer.lastName }} 
                    </a>
                    <a [routerLink]="['/customers',customer.customerId,'edit']">
                           <mat-icon aria-label="edit" class="material-icons">edit</mat-icon>
                                
                    </a>
                </div>
                <div class="card-body">
                    <div class="clearfix">
                        <div class="pull-left card-body-left">
                            <a href="#" class="white">
                                <img src="../../../assets/images/{{ customer.gender ||capitalize }}.png" class="card-image" />
                            </a>
                        </div>
                        <div class="pull-left card-body-right">
                            <div class="card-body-content">{{customer.city }}, {{customer.state.name}}</div>
                            <mat-icon aria-label="add_shopping_cart" class="material-icons">add_shopping_cart</mat-icon>
                            <a [routerLink]="['orders',customer.customerId]">View Orders</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="!customers.length">
            No Records  Found
        </div>
    </div>
</div>