<div class="header">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
            <!--  <span>HOME</span> -->
             <span><a href="/">
              <img class="logo" src="../assets/images/logo.jpg" alt="logo" height="150" width="150"/>
            </a></span>
            <span class="spacer"></span>
            <span><h2> Online Store</h2></span>
             <span class="spacer"></span>
             <!-- <a mat-button routerLink="/about">About Us</a> -->
             <a mat-button routerLink="/customers">Customers</a>
             <a mat-button routerLink="/orders">Orders</a>
             
             <a mat-button routerLink="/users" >User Management</a>
                <button mat-icon-button #menuTrigger="matMenuTrigger"  [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                </button>  
            <mat-menu #menu="matMenu">
                <a routerLink="/users/viewUsers" mat-menu-item>View All Users</a>
                <a routerLink="/users/registeruser"  mat-menu-item>Register</a>
            </mat-menu>
            <a mat-button routerLink="/reports" >Reports </a>
            <a mat-button routerLink="/products" >Product Management</a>
                <button mat-icon-button #menuTrigger="matMenuTrigger"  [matMenuTriggerFor]="pdt">
                    <mat-icon>more_vert</mat-icon>
                 </button>  
            <mat-menu #pdt="matMenu">
                <a routerLink="/products/viewProductsClient" mat-menu-item>View Products Indicator</a>
                <a routerLink="/products/viewPdtsServer"  mat-menu-item>View Products from DB</a>
            </mat-menu>
            <a mat-button routerLink="/login"  >{{ loginLogoutText }}</a>
           
            <a mat-button routerLink="/login" (click)="logout()" >Logout</a>
            </mat-toolbar-row>
            
            </mat-toolbar> 
            
        
        </div>
          
          
           
         
           
         
        


<!--<nav class="navbar navbar-inner navbar-fixed-top">
        <div class="container">
            <div class="navbar-header" >
                <button type="button" class="navbar-toggle" 
                        (click)="isCollapsed = !isCollapsed">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" routerLink="/customers">
                    <img src="assets/images/logo.jpg" alt="logo" class="logo" width="150" height="150"/>
                    <span class="app-title">Online Shopping</span>
                </a>
                <span class="navbar-collapse" [attr.data-collapse]="isCollapsed">
                    <ul class="nav navbar-nav nav-pills navBarPadding">
                        <li routerLinkActive="active"><a routerLink="/customers">Customers</a></li>
                        <li routerLinkActive="active"><a routerLink="/orders">Orders</a></li>
                        <li routerLinkActive="active"><a routerLink="/about">About</a></li>
                        <li routerLinkActive="active" (click)="loginOrOut()"><a>{{ loginLogoutText }}</a></li>
                    </ul>
                </span>
            </div>
        </div>
    </nav>-->

